html{
    font-size: 62.5%;
    
}

body{
    display: grid;
    grid-template-areas:"header header header header"
                         "hero hero hero hero" 
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    /* grid-template-columns:repeat(1fr) ;   */
    font-size: 1.6rem;  
    font-family: 'Roboto', sans-serif;     
    font-weight: 400;   
          
                            
}
.header{
    grid-area:header ;
    background-color:var(--azul-escuro);
    color:var(--branco);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
      
}
.header .logo{
    width: 20%;
    height: 20%;  
}

.header a:hover h1{
    color: coral;
}

.hero{
    grid-area:hero ;
    height:100vh;
    background: url('../images/hero-5.jpg') center center no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    color: var(--branco);
    white-space: nowrap;
    
 
}
.hero h1{
    font-weight:700;
    text-transform:uppercase ;
    font-size: 2.8rem;
    letter-spacing: 5px;  
}

.hero h3{
    font-size: 3rem;
    margin-top: 50px;
    font-weight: 400;
    font-family: bold;
}

@media(max-width: 445px){
    .hero{
        padding:0 auto;
    }
    .hero h1{
       font-size:2rem;
       margin: 10px;
    }  
    .hero h3{
        font-size: 2.5rem;
    }
}

.about{
    grid-area:about ;
   display:grid ;
   grid-template-columns: 1fr 1fr;
   background-color:var(--azul-escuro);
   max-width: var(--max-width-size);
   margin: 0 auto;
   
}

.about .image{
    height: 300px;
    width: 300px;
    border-radius:200%;
   border: 2px solid;
   
}

.about .item{
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
 .about .item h3{
    font-weight: 700;
    font-size: 3rem;
    color: var(--laranja-queimado);
    white-space: nowrap;
 }

 .about .item p{
    font-size: 1.8rem;
    margin: 30px 0;
    font-weight: 400;
    color:var(--branco);
 }
 
.about .btn-know-more{
    color: var(--branco);
    background-color: var(--laranja-queimado);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    padding: 12px 24px;
    width: 50%;
    white-space: nowrap;
    max-width: none;
    min-width: 160px;
}
 .about .item .btn-know-more:hover{
    background-color: #FA8072;
 }
.about .image.right{
    background: url('../images/foto-2.jpeg') center center no-repeat;
    background-size: cover;
    margin-left: 250px;
    margin-top: 80px;
}



@media(max-width: 425px){
    .about{
        grid-template-columns: 1fr(4);
        text-align: center;
        padding: 8px;
    }
    .about .item p{
        text-align: left;

    }
}


.services{
    text-align: center;
    grid-area: services;
    display: flex;
    background-color:#D96C3B ;
    flex-direction: column;
    text-align: center;  
}

.services .service{
    padding: 70px 20px;
}

.services .service img{
    width: 250px;
    margin-top: -80px;
    
}

.services .service h3{
    font-size: 4rem;
    font-weight: 700;
    color: var(--azul-escuro);
    margin-top: -50px;
}

.services .service ul li{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 20px auto 0;
    line-height: 20px;
    color: var(--branco);
    margin-top: 15px;
}

.services .service p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--branco);
    margin-top: 30px;
    margin-bottom: 25px;
}

.services .service .btn-services{
    color: var(--branco);
    background-color: var(--azul-escuro);
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 50px;
    transition: 0.3s;
    padding: 10px 30px;
    width: 35%;
  
}
 .services .service .btn-services:hover{
    box-shadow: 0 0 20px var(--azul-escuro);
 }



@media(max-width:425px){
    .services{
        grid-template-columns: 1fr;
    }
}
.projects{
    grid-area:projects ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color:var(--laranja-queimado);
}

.projects img{
    width: 100%;
    transition: 0.3s;
    transform: scale(0.9);
    border-radius: 10px;
}

.projects a:hover img{
    opacity: 0.8;
}

@media(max-width:768px){
    .projects{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media(max-width:425px){
    .projects{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) ;
    }
}
hr{
    border: 1px solid ;
    width: 100%;
    color: var(--laranja-queimado);
}
.footer{
    grid-area: footer;
    display: flex;
    background-color: var(--azul-escuro);
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
}

.footer h4{
    font-weight: 700;
    font-size: 2.5rem;

}

.footer nav{
    margin: 50px 0;
}

.footer nav ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

.footer nav ul li a{
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.3s;
    border-radius: 50px;
    padding: 15px;
    color: var(--branco);
}

.footer nav ul li a:hover{
    font-weight: 700;
    background-color:coral; 
}

.footer .social i{
font-size: 2rem;
transition: 0.3s;
color: var(--branco);
margin:20px;

}
.footer .social i:hover{
    color:coral;
}

.footer .copy{
    color: var(--branco);
    margin-top: 30px;
}

.footer .dev{
    color: var(--branco);
    margin-top: 5px;
}